html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
:root {
  /* Typography */
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}

body{
  background-color: black;
}

/*Navbar*/
.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 1;
  font-size: 1.25rem;
  background: black;
}

.nav-links {
  display: flex;
  margin-right: 3rem;
  list-style: none;
  text-align: right;
}

.logo {
  display: flex;
  flex-direction: row;
  color: white;
  letter-spacing: 3px;
  font-size: 5rem;
  padding-left: 5rem;
  font-family: 'Kavoon', cursive;
}

ul li {
  padding: 25px 25px;
}

.navbar a {
  display: block;
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  color: #ffffff;
  text-decoration: none;
}

/*Intro*/
.border1{
  border: 4px inset white;
  display: flex;
  margin: auto;
}

.title-intro{
  margin-bottom: 0.25em;
  font-size: var(--h1);
  font-family: 'Roboto Mono', monospace;
}

.welcome{
  font-size: 2.0rem;
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 1.0rem;
  background-color: white;
  color: black;
  padding-left: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  width: 30rem;
  display: flex;
}

.description {
  font-size: var(--h4);
  font-family: 'Roboto Mono', monospace;
}

.intro {
  width: 80%;
  margin: auto;
  text-align: left;
  padding-top: 100px;
}

.about-me {
  margin-top: 5% auto;
  display: flex;
  
}

.texts {
  flex-basis: 70%;
  margin-bottom: 15%;
  padding: 30px 150px;
  color: white;
}

/*Education*/
.title-education {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 10rem;
}

.title-education h1{
  font-size: var(--h3);
  font-family: 'Roboto Mono', monospace;
  color: white;
}

.education2{
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}

.education2:after{
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background: #fff;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
}

.container{
  padding: 10px 50px;
  position: relative;
  width: 50%;
}

.text-box{
  padding: 20px 30px;
  background: #fff;
  position: relative;
  border-radius: 6px;
  font-size: 4.0rem;
  font-family: 'Roboto Mono', monospace;
}
.left-container{
  left: 0;
}
.right-container{
  left: 50%;
}

.container img{
  position: absolute;
  width: 60px;
  border-radius: 50%;
  right: -30px;
  top: 32px;
  z-index: 10;
}

.text-box h2{
  font-weight: 600;
}

.text-box small{
  display: inline-block;
  margin-bottom: 15px;
}

.right-container img{
  left: -30px;
}

.left-container-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 38px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid white;
  right: -15px;
}

.right-container-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 38px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid white;
  left: -15px;
}

/*Relevant Coursework*/
.coursework{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: var(--h2);
}

.rows{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.class{
  flex-basis: 50%;
}

.class img{
  width: 20%;
  margin-bottom: 2rem;
}



/*Experience*/
.title-experience {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 10rem;
}

.title-experience h1{
  font-size: var(--h3);
  font-family: 'Roboto Mono', monospace;
  color: white;
}

.experience2{
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}

.experience2:after{
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background: #fff;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
}

